parameters:
    excludes_analyse:
        - %currentWorkingDirectory%/*/Test/*
        - %currentWorkingDirectory%/*/Tests/*
        - %currentWorkingDirectory%/*/DependencyInjection/Configuration.php
